@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

video {
    transition: filter 0.2s ease-out;
    filter: blur(0px);
  }
  
  video.loading {
    filter: blur(10px); /* Add blur while loading */
  }
  